body {
  overflow: hidden;
}

 * {
  transition: background-color 0.4s;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fullscreen-space {
  position: absolute;
  pointer-events: none;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.fullscreen-space > * {
  position: relative;
  pointer-events: auto;
}

.right-align {
  justify-content: right;
}

.buy-coffee {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  margin: 20px;
}

.search {
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
